<%= form_with(model: customered) do |form| %>
  <% if customered.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customered.errors.count, "error") %> prohibited this customered from being saved:</h2>

      <ul>
        <% customered.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_card %>
    <%= form.text_field :id_card %>
  </div>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :parent_id %>
    <%= form.text_field :parent_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
